body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,input,p,th,td,s{font-family:"微软雅黑",Tahoma,sans-serif}
*{
    line-height: normal;
    margin: 0;
    padding: 0;
    transition:  .1s;
    -moz-transition:  .1s; /* Firefox 4 */
    -webkit-transition:  .1s; /* Safari 和 Chrome */
    -o-transition:  .1s; /* Opera */
}
.clear{
    clear: both;
}
.itemCon{

    padding-left: 10px;
    padding-top: 10px;
}
.item{
    background-color: white;
    width: 160px;
    height: 100px;
    margin: 10px;
    float: left;
    background-image: url('1.jpg');
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 5px;
}
ul{
    margin-left: 30px;
}
img { width: auto; max-width: 100%; }
.header{
    background-color: bisque;
    text-indent: 26px;
    font-weight: bolder;
    font-size: 26px;
    font-style: italic;
}
.headCon{
    line-height: 60px;
    margin: 0 auto;

}
.left{
    float: left;
    min-height: 500px;
    background-color: blueviolet;
    width: 160px;
    padding: 20px;
    margin-right: 10px;
}
.center{
    background-color: #cf4e84;
    min-height: 500px;
}
.footer{
    background-color: #36a3eb;
    /* min-height: 60px; */
    line-height: 60px;
    text-align: center;
}
.mainCon{
    background-color: aqua;
    margin: 0 auto;
    width: 100%;
}
@media only screen and (min-width: 1367px) {
    .mainCon,.headCon{
        width: 1300px;
    }
    .item{
        width: 196px;
        height: 122px;
        border-radius: 10px;
    }
}
@media only screen and (min-width: 1025px) and (max-width: 1366px) {
    .mainCon ,.headCon{
        width: 940px;
    }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .mainCon ,.headCon{
        width: 760px;
    }
}
@media only screen and (max-width: 768px) {
    .itemCon{
        padding: 0;
    }
    .left{
        float: none;
        width: auto;
        min-height: auto;
        margin-right: 0;
    }
    .mainCon {
        width: 100%;
    }
    .item{

        width: 22%;
        margin: 1.5%;
    }
    .header{
        text-align: center;
        font-size: 16px;
        line-height: 40px;
    }
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
    .item{

    }

}
@media only screen and (max-width: 480px) {
    .item{
        width: 47%;
    }

}